{% extends 'PHPDishWebBundle:User:view_common.html.twig' %}

{% set tab = 'reply' %}

{% if replies.count %}
    {% block entry_meta %}
        <span>{{ 'reply.total_publish_reply'|trans({'%count%': replies.count}) }}</span>
    {% endblock %}
{% endif %}

{% block user_content %}

    {% if replies.count %}
        <ul class="list-group resource-list">
            {% for reply in replies %}
                <li class="list-group-item">
                    <div class="text markdown-body">{{ reply.body|raw }}</div>
                    <span class="meta">
                    {{ reply.createdAt|time_diff }} {{ 'reply.created_at'|trans }} <a href="{{ path('topic_view', {'id':  reply.topic.id}) }}">{{ reply.topic.title }}</a>
                    </span>
                    <blockquote>{{ reply.topic.summary|raw }}</blockquote>
                </li>
            {% endfor %}
        </ul>
        {% if replies.haveToPaginate %}
            <footer class="panel-footer">
                {{ pagerfanta(replies, 'twitter_bootstrap3') }}
            </footer>
        {% endif %}
    {% else %}
        <div class="empty-data">
            <p><i class="if i-comment"></i> {{ 'reply.no_reply_yet'|trans }}</p>
        </div>
    {% endif %}

{% endblock %}