<!DOCTYPE html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="renderer" content="webkit" />
    {% if block('title') is defined %} <title>{{ block('title') }} - {{ read_config_parameter('phpdish.site.title') }}</title> {% else %}{{ sonata_seo_title() }} {% endif %}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
    <!--[if IE]></base>
    <![endif]-->
    <link href="{{ asset('bundles/phpdishweb/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{ asset('bundles/phpdishweb/css/icon.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/phpdishweb/css/common.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/phpdishweb/css/link.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/phpdishweb/js/plug_module/style.css') }}" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var G_INDEX_SCRIPT = "";
        var G_SITE_NAME = "{{ read_config_parameter('phpdish.site.title') }}";
        var G_BASE_URL = "{{ app.request.host }}";
        var G_POST_HASH = '';
        var G_STATIC_URL = "/build";
        var G_UPLOAD_URL = "/uploads";
        var FILE_TYPES = "jpg,jpeg,png,zip,rar,7z";
    </script>

    <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ asset('bundles/phpdishweb/js/jquery.form.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/phpdishweb/js/plug_module/plug-in_module.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/phpdishweb/js/aws.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/phpdishweb/js/aw_template.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/phpdishweb/js/app.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/phpdishweb/js/compatibility.js') }}" type="text/javascript"></script>
    <!--[if lte IE 8]>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>

<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="http://wenda.wecenter.com/static/common/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>

<body>
<div class="aw-top-menu-wrap">
    <div class="container">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="http://wenda.wecenter.com"></a>
        </div>
        <!-- end logo -->
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="{{ path('search') }}" id="global_search_form" method="post">
                <input class="form-control search-query" type="text" placeholder="搜索问题、话题或人" autocomplete="off" name="q" id="aw-search-query" />
                <span title="搜索" id="global_search_btns" onClick="$('#global_search_form').submit();"><i class="icon icon-search"></i></span>
                <div class="aw-dropdown">
                    <div class="mod-body">
                        <p class="title">输入关键字进行搜索</p>
                        <ul class="aw-dropdown-list collapse"></ul>
                        <p class="search">
                            <span>搜索:</span>
                            <a onClick="$('#global_search_form').submit();"></a>
                        </p>
                    </div>
                    <div class="mod-footer">
                        <a href="javascript:;" onClick="$('#header_publish').click();" class="pull-right btn btn-mini btn-success publish">发起问题</a></div>
                </div>
            </form>
        </div>
        <!-- end 搜索框 -->
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('homepage') }}" {% if is_route_matched('topics') %}class="active"{% endif %}>
                            <i class="icon icon-list"></i> 发现
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('threads') }}" {% if is_route_matched('threads') %}class="active"{% endif %}>
                            <i class="icon icon-topic"></i> 节点</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li>
                            <a href="{{ path('notifications') }}" {% if is_route_matched('notifications') %}class="active"{% endif %}>
                                <i class="icon icon-bell"></i> 通知
                            </a>
                            {% set unreadMessageNum = fos_message_nb_unread() %}
                            {% set unreadNotificationNumber = unreadMessageNum + notification_unseen_number() %}
                            <span class="badge badge-important" {% if unreadNotificationNumber == 0 %}style="display:none"{% endif %} id="notifications_unread">
                                {{ unreadNotificationNumber }}
                            </span>
                            <div class="aw-dropdown pull-right hidden-xs">
                                <div class="mod-body">
                                    <ul id="header_notification_list"></ul>
                                </div>
                                <div class="mod-footer">
                                    <a href="{{ path('notifications') }}">查看全部</a>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    <li>
                        <a style="font-weight:bold;">· · ·</a>
                        <div class="dropdown-list pull-right">
                            <ul id="extensions-nav-list">
                                <li>
                                    <a href="{{ path('post') }}"><i class="icon icon-activity"></i>专栏</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- end 导航 -->
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <!-- 登陆&注册栏 -->
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="http://wenda.wecenter.com/people/slicne" class="aw-user-nav-dropdown">
                    <img alt="slicne" src="http://wenda.wecenter.com/static/common/avatar-mid-img.png" /></a>
                <div class="aw-dropdown dropdown-list pull-right">
                    <ul class="aw-dropdown-list">
                        <li>
                            <a href="{{ path('chat_inbox') }}">
                                <i class="icon icon-inbox"></i>私信
                                <span class="badge badge-important collapse" id="inbox_unread">{{ unreadMessageNum }}</span>
                            </a>
                        </li>
                        <li class="hidden-xs">
                            <a href="{{ path('setting_profile') }}">
                                <i class="icon icon-setting"></i>设置</a>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}">
                                <i class="icon icon-logout"></i>退出</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a class="login btn btn-normal btn-primary" href="{{ path('login') }}">登录</a>
                <a class="register btn btn-normal btn-success" href="{{ path('register') }}">注册</a>
            {% endif %}
            <!-- end 登陆&注册栏 -->
        </div>
        <!-- end 用户栏 -->
        <!-- 发起 -->
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="aw-publish-btn">
            <a id="header_publish" class="btn-primary" href="javascript:void(0);"><i class="icon icon-ask"></i>发起</a>
            <div class="dropdown-list pull-right">
                <ul>
                    <li><a href="{{ path('topic_add') }}">问题</a></li>
                    <li><a href="{{ path('post_add') }}">文章</a></li>
                </ul>
            </div>
        </div>
        {% endif %}
        <!-- end 发起 -->
    </div>
</div>

<div class="aw-container-wrap">
    {% block content %}
        没有内容
    {% endblock %}
</div>

<div class="aw-footer-wrap">
    <div class="aw-footer">Copyright © 2018
        <span class="hidden-xs">- 皖ICP备14022941号 官方QQ群：138307655, All Rights Reserved</span>
        <span class="hidden-xs">Powered By
            <a href="https://www.phpdish.com/" target="blank">PHPDish 1.3.0-beta1</a>
        </span>
    </div>
</div>

<a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});">
    <i class="icon icon-up"></i>
</a>
<div id="aw-ajax-box" class="aw-ajax-box"></div>
</body>

</html>