<!DOCTYPE html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="renderer" content="webkit" />
    {% if block('title') is defined %} <title>{{ block('title') }} - {{ read_config_parameter('phpdish.site.title') }}</title> {% else %}{{ sonata_seo_title() }} {% endif %}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
    <!--[if IE]></base>
    <![endif]-->
    <link href="{{ asset('bundles/phpdishweb/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{ asset('bundles/phpdishweb/css/icon.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/phpdishweb/css/common.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/phpdishweb/css/link.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/phpdishweb/js/plug_module/style.css') }}" rel="stylesheet" type="text/css" />

    {% block style %}{% endblock %}

    <script type="text/javascript">
        var G_INDEX_SCRIPT = "";
        var G_SITE_NAME = "{{ read_config_parameter('phpdish.site.title') }}";
        var G_BASE_URL = "{{ app.request.host }}";
        var G_POST_HASH = '';
        var G_STATIC_URL = "/build";
        var G_UPLOAD_URL = "/uploads";
        var FILE_TYPES = "jpg,jpeg,png,zip,rar,7z";
    </script>

    <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ asset('bundles/phpdishweb/js/jquery.form.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/phpdishweb/js/plug_module/plug-in_module.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/phpdishweb/js/aws.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/phpdishweb/js/aw_template.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/phpdishweb/js/app.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/phpdishweb/js/compatibility.js') }}" type="text/javascript"></script>

    {% block js %}{% endblock %}

    <!--[if lte IE 8]>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>

<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="http://wenda.wecenter.com/static/common/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>

<body>

    {% block content %}
        没有内容
    {% endblock %}

    <div class="aw-footer-wrap">
        <div class="aw-footer">Copyright © 2018
            <span class="hidden-xs">- 皖ICP备14022941号 官方QQ群：138307655, All Rights Reserved</span>
            <span class="hidden-xs">Powered By
                <a href="https://www.phpdish.com/" target="blank">PHPDish 1.3.0-beta1</a>
            </span>
        </div>
    </div>

    <a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});">
        <i class="icon icon-up"></i>
    </a>

    <div id="aw-ajax-box" class="aw-ajax-box"></div>
</body>

</html>