{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            {{ form_start(form, {'attr':{'class': 'reg-page', 'id': 'register-form'}}) }}
                <div class="reg-header">
                    <h2>注册一个新账户</h2>
                    <p>已经有账户?点此<a href="{{ path('login') }}">登录</a>你的账户</p>
                </div>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <span class="black-text"><p>{{ flashMessage }}</p></span>
                {% endfor %}
                <label>用户名 <span class="color-red">*</span></label>
                {{ form_widget(form.username, {'attr': {'class': 'form-control margin-bottom-20'}})  }}
                <label>邮箱 <span class="color-red">*</span></label>
                {{ form_widget(form.email, {'attr': {'class': 'form-control margin-bottom-20'}})  }}
                <label>密码 <span class="color-red">*</span></label>
                 {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control margin-bottom-20'}})  }}
                <label>重复密码 <span class="color-red">*</span></label>
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control margin-bottom-20'}})  }}
                <div class="row">
                    <div class="col-lg-6 checkbox">
                        <label>
                            <input type="checkbox" name="agree_policy">
                            <span>我同意</span> <a href="<?=$this->Url->build(['prefix'=>false, 'controller'=>'Fragments', 'action'=>'terms']);?>" target="_blank">注册用户协议</a>
                        </label>
                        <span id="for_policy"></span>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button class="btn btn-primary" type="submit">注册</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}