{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %} 我的提醒{% endblock %}

{% block content %}
    <div class="container" role="main">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <ul class="list-group vertical-nav">
                    <li class="list-group-item nav-item"><i class="if i-envelope-o"></i> 私信</li>
                    <li class="list-group-item nav-item active">
                        <a href="{{ path('notifications') }}"><i class="if i-bell-o"></i> 通知</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="panel panel-u">
                    <div class="panel-heading">全部提醒</div>
                    <ul class="list-group notification-list">
                        {% import 'PHPDishWebBundle:Macros:notifications.html.twig' as renderer %}
                        {% for notification in notifications %}
                        <li class="list-group-item">
                            <div class="media notification">
                                <div class="media-left">
                                    <a href="{{ path('user_view', {username: notification.fromUser.username}) }}">
                                        <img class="media-object avatar" src="{{ asset(notification.fromUser.avatar)|imagine_filter('middle_square') }}">
                                    </a>
                                </div>
                                {{ renderer.render_notification(notification) }}
                            </div>
                        </li>
                        {% else %}
                            <li class="empty-data">
                                <i class="if i-bell"></i> 没有提醒
                            </li>
                        {% endfor %}
                    </ul>
                    {% if notifications.haveToPaginate %}
                        <footer class="panel-footer">
                            {{ pagerfanta(notifications, 'twitter_bootstrap3') }}
                        </footer>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}