{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div  class="col-md-9">
            <article class="panel panel-default">
                <header class="panel-headning">
                    {% include "PHPDishWebBundle:Common:crumbs.html.twig" with {'breadcrumbs': [
                        {'title': post.category.name, 'url': path('category_view', {'slug': post.category.slug})}
                    ]}%}
                    <h1 class="entry-title">{{ post.title }}</h1>
                    <div class="entry-meta">
                        <a href="{{ path('user_view', {'username': post.user.username}) }}">{{ post.user.username }}</a>
                        <time class="entry-date num">{{ post.createdAt|date('Y-m-d H:i:s') }}</time>
                        <a href="#comments"><i data-num-comments="true" class="num">{{ post.commentCount }}</i>条评论</a>
                        <span><i data-num-views="true" class="num">{{ post.viewCount }}</i>次浏览</span>
                    </div>
                </header>
                <div class="panel-body markdown-body">{{ post.body }}</div>
                <footer class="panel-footer">
                    <div class="vote-group" id="post-vote" role="group">
                        <a href="javascript:;" class="up btn btn-default btn-lg" data-choose="like">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class="num">{{ post.voteCount }}</i>
                        </a>
                    </div>
                    {% include 'PHPDishWebBundle:Common:share.html.twig' %}
                </footer>
                {% include 'PHPDishWebBundle:Post:post_comment.html.twig' %}
            </article>
        </div>
        <div class="col-md-3">
            <aside class="panel panel-default panel-widget">
                {% include 'PHPDishWebBundle:Common:search.html.twig' %}
            </aside>
            <aside class="panel panel-default panel-widget">
                <div class="tag-box tag-box-v6 no-margin">
                    {% include 'PHPDishWebBundle:Post:user_dashboard.html.twig' %}
                </div>
            </aside>
        </div>
    </div>
</div>
{% endblock %}