{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<div class="container narrow-layout">
    <div class="row">
        <div  class="col-md-12">
            <article class="panel panel-u post-detail">
                <header class="panel-heading">
                    <h1 class="entry-title title">{{ post.title }}</h1>
                    <div class="media author">
                        {% set userHome = path('user_view', {username: post.user.username}) %}
                        <div class="media-left"><a class="avatar" href="{{ userHome }}"><img src="{{ post.user.avatar|imagine_filter('middle_square') }}" class="img-responsive"/></a></div>
                        <div class="media-body">
                            <div class="media-heading">
                                <span class="username"><a href="{{ userHome }}">{{ post.user.username }}</a></span>
                                <span data-role="follow" data-username="{{ post.user.username }}">
                                    {% if (is_granted('IS_AUTHENTICATED_FULLY') and post.user.isFollowedBy(app.user)) %}
                                        <button class="btn btn-sm btn-default" data-action="unfollow"><i class="if i-check"></i> 已关注</button>
                                    {% else %}
                                        <button class="btn btn-sm btn-success" data-action="follow"><i class="if i-plus"></i> 关注</button>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="meta">
                                <span class="publish-date">{{ post.createdAt|date('Y-m-d H:i:s') }}</span>
                                <span class="word-num">字数 {{ post.wordCount }}</span>
                                <span class="comment-num">评论 {{ post.commentCount }}</span>
                                <span class="view-num">浏览 {{ post.viewCount }}</span>
                            </div>
                            <div class="action" data-role="post-action">
                                {% if is_granted('edit', post) %}
                                    <span><a href="javascript:void(0)" data-action="remove" title="删除"><i class="if i-trash"></i> 删除</a></span>
                                    <span><a href="{{ path('post_edit', {'id': post.id}) }}" title="修改"><i class="if i-edit"></i> 修改</a></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </header>
                <div class="panel-body">
                    <div class="markdown-body body">{{ post.body|raw }}</div>
                    <hr/>
                    <div class="category media">
                        <div class="media-left media-middle">
                            {% set categoryUrl = path('category_view', {'slug': post.category.slug}) %}
                            <a href="{{ categoryUrl }}" class="avatar">
                                <img src="{{ post.category.cover|imagine_filter('middle_square') }}" class="media-object img-circle img-responsive"/>
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="pull-right" data-role="follow-category"  data-slug="{{ post.category.slug }}">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and post.category.isFollowedBy(app.user) %}
                                    <button class="btn  btn-sm btn-default" data-action="unfollow"><i class="if i-plus"></i> 已关注</button>
                                {% else %}
                                    <button class="btn btn-sm u-btn-deeporange" data-action="follow"><i class="if i-plus"></i> 关注本专栏</button>
                                {% endif %}
                            </div>
                            <h4 class="media-heading">
                                <a href="{{ categoryUrl }}">{{ post.category.name }}</a>
                            </h4>
                            <ul class="list-unstyled list-inline meta">
                                <li>文章 {{ post.category.postCount }}</li>
                                <li>订阅 {{ post.category.followerCount }}</li>
                            </ul>
                            <div>{{ post.category.description }}</div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="panel panel-default panel-u">
                <div class="panel-body margin-bottom-10">
                    <div class="row">
                        <div class="col-md-10 add-comment">
                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('login') }}" class="avatar">
                                    <img src="{{ asset('img/default_user.png') }}" class="img-responsive img-circle"/>
                                </a>
                                <textarea class="form-control" placeholder="点击头像登录后发表评论" disabled="disabled"></textarea>
                            {% else %}
                                {{ form_start(form, {'attr': {'id': 'add-comment-form'}}) }}
                                    <div class="form-group md-editor" data-role="md-editor">
                                        <a class="avatar">
                                            <img src="{{ app.user.avatar|imagine_filter('middle_square')}}" class="img-responsive img-circle"/>
                                        </a>
                                        {{ form_widget(form.original_body, {'attr': {'data-role': 'comment-body', 'role': 'md-editor-write',  'class': 'form-control', 'placeholder': '写下你的评论...'}}) }}
                                        {#<textarea class="form-control" data-role="comment-body" placeholder="写下你的评论..."></textarea>#}
                                        <div class="tips"><i class="if i-markdown"></i> 请使用Markdown语法书写</div>
                                    </div>
                                    <div class="form-group">
                                        <button data-role="submit" class="btn u-btn-primary">评论</button>
                                    </div>
                                {{ form_end(form) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel-heading"><h5>{{ post.commentCount }}个评论</h5></div>
                <ul class="list-group reply-list" data-role="replies-panel">
                   {% include 'PHPDishWebBundle:Common:reply_list.html.twig' with {
                       replies: comments
                   } %}
                </ul>
                {% if comments.haveToPaginate %}
                    <footer class="panel-footer">
                        {{ pagerfanta(comments, 'twitter_bootstrap3') }}
                    </footer>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ asset('build/js/post.js') }}"></script>
    <script type="text/javascript">
    window.postId = {{ post.id }};
    </script>
{% endblock %}