<div class="panel panel-widget">
    <div class="panel-body">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="media user-plate">
            <div class="media-left">
                <a class="avatar"><img src="{{ asset(app.user.avatar)|imagine_filter('middle_square') }}" class="media-object img-circle img-responsive"></a>
            </div>
            <div class="media-body user-title">
                <div class="media-heading username">
                    <a href="{{ path('user_view', {'username': app.user.username}) }}">{{ app.user.username }}</a>
                    <a href="{{ path('user_points', {'username': app.user.username}) }}" class="coin"><i class="if i-coin"></i> {{ app.user.point }}</a>
                </div>
                <ul class="list-inline badge-icons">
                    <li><a href="{{ path('user_topics',  {'username': app.user.username}) }}"><i class="if i-comment-square"></i> {{ 'ui.topic'|trans }}</a></li>
                    <li><a href="{{ path('user_posts',  {'username': app.user.username}) }}"><i class="if i-post-o"></i> {{ 'ui.article'|trans }}</a></li>
                </ul>
            </div>
        </div>
        <a class="btn btn-block u-btn-outline-primary" href="{{ path('topic_add') }}">{{ 'user.create_new_topic'|trans }}</a>
        {% else %}
        <div class="community-description">
            <p class="description">{{ read_config_parameter('phpdish.site.description') }}</p>
            <a class="btn btn-block btn-default register-action" href="{{ path('register') }}">{{ 'user.now_register'|trans }}</a>
            <p class="text-center login-action">{{ 'user.registered_users_please_go_signin'|trans({'%url%':  path('login')})|raw }}</p>
        </div>
    {% endif %}
    </div>
</div>