<div class="panel panel-default panel-widget">
    <div class="panel-body">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="media user-plate">
            <div class="media-left">
                <a class="avatar"><img src="{{ asset(app.user.avatar)|imagine_filter('middle_square') }}" class="media-object img-circle img-responsive"></a>
            </div>
            <div class="media-body user-title">
                <div class="media-heading username"><a href="{{ path('user_view', {'username': app.user.username}) }}">{{ app.user.username }}</a></div>
                <ul class="list-inline badge-icons">
                    <li><a href="{{ path('user_topics',  {'username': app.user.username}) }}">话题</a></li>
                    <li><a href="{{ path('user_posts',  {'username': app.user.username}) }}">文章</a></li>
                    <li class="notification-num">
                        <a><i class="if i-envelope"></i></a>
                        <span class="badge badge-u badge-u-orange">10</span>
                    </li>
                </ul>
            </div>
        </div>
        <a class="btn btn-block u-btn-outline-primary" href="{{ path('topic_add') }}">发布新话题</a>
        {% else %}
        <div class="community-description">
            <p class="description">七目鱼是一个以内容分享为主的清晰的小众社区，致力于为文字爱好者，技术爱好者提供知识分享的平台。</p>
            <a class="btn btn-block btn-default register-action" href="{{ path('register') }}">现在注册</a>
            <p class="text-center login-action">已注册用户请<a href="{{ path('login') }}">登录</a></p>
        </div>
    {% endif %}
    </div>
</div>