{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ asset('build/js/user.js') }}"></script>
{% endblock %}

{% block content %}
<div id="main" class="container" role="main">
    <div class="row">
        <article id="content" class="col-md-9">
            <div class="panel panel-default panel-u user-dash">
                <div class="panel-heading">
                    {% include 'PHPDishWebBundle:Common:crumbs.html.twig' with {
                        'breadcrumbs': [
                            {'title': '用户'}
                        ]
                    } %}
                    <div class="clearfix margin-bottom-10">
                        <div class="pull-right">
                            {% if app.user and user.isFollowedBy(app.user) %}
                                <button type="button" class="btn btn-sm btn-default" data-role="unfollow-user" data-user-id="<?=$user->id;?>">取消关注</button>
                            {%else %}
                                <button type="button" class="btn-u btn-u-red" data-role="follow-user" data-username="{{ user.username }}">
                                    <i class="fa fa-plus"></i> 关注
                                </button>
                            {% endif %}
                        </div>
                        <div class="author-avatar">
                            <img src="{{ user.avatar() }}" class="avatar avatar-80 photo"/>
                        </div>
                        <div class="author-info">
                            <h1 class="vcard">{{ user.username }}</h1>
                            <p class="author-description">{{ user.description|default('Hello world') }}</p>
                            <p class="small author-register-time">在{{ user.createdAt|date('Y-m-d') }}注册</p>
                        </div>
                    </div>
                    <div class="entry-tab">
                        <ul>
                            <li {% if tab == 'posts' %}class="active"{% endif %}><a href="{{ path('user_posts', {'username': user.username}) }}">文章</a></li>
                            <li {% if tab == 'topics' %}class="active"{% endif %}><a href="{{ path('user_topics', {'username': user.username}) }}">话题</a></li>
                            <li {% if tab == 'topics' %}class="active"{% endif %}><a href="{{ path('user_posts', {'username': user.username}) }}">动态</a></li>
                        </ul>
                    </div>
                    <div class="entry-meta">
                        {% block entry_meta %}
                            <span>还没有发表过内容</span>
                        {% endblock %}
                    </div>
                </div>
                {% block user_content %}
                    <div class="panel-content">
                        没有记录
                    </div>
                {% endblock %}
            </div>
        </article>
        <div class="col-md-3">
            <aside id="recent_user-3" class="widget clearfix widget_recent_user">
                <h3 class="widget-title">关注</h3>
                {{ render(controller('PHPDishUserBundle:User:userFollowing', {'user': user})) }}
            </aside>
            <aside id="recent_user-3" class="widget clearfix widget_recent_user">
                <h3 class="widget-title">粉丝</h3>
                {{ render(controller('PHPDishUserBundle:User:userFollowers', {'user': user})) }}
            </aside>
        </div>
    </div>
</div>
{% endblock %}