{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ asset('build/js/user.js') }}"></script>
{% endblock %}

{% set isMe = app.user is same as (user) %}

{% block content %}
    <div class="container">
    <div class="row">
        <article class="col-md-9">
            <div class="panel panel-u user-dash">
                <div class="panel-heading">
                    <div class="clearfix user-details" data-username="{{ user.username }}">
                        <div class="media">
                            <div class="media-left avatar">
                                <img src="{{ user.avatar() }}" class="img-responsive"/>
                            </div>
                            <div class="media-body summary">
                                <h1 class="username">{{ user.username }}</h1>
                                <p class="description">{{ user.description|default('Hello world') }}</p>
                                <p class="small register-at">在{{ user.createdAt|date('Y-m-d') }}注册</p>
                            </div>
                            <div class="media-right">
                                <div data-role="follow">
                                    {% if app.user and user.isFollowedBy(app.user) %}
                                        <button type="button" class="btn btn-sm btn-default" data-action="unfollow">
                                            <i class="if i-check"></i> 已关注
                                        </button>
                                    {%else %}
                                        <button type="button" class="btn btn-md u-btn-deeporange" data-action="follow">
                                            <i class="if i-plus"></i> 关注
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled list-inline tab-nav">
                    <li {% if tab == 'post' %}class="active"{% endif %}><a href="{{ path('user_posts', {'username': user.username}) }}">文章</a></li>
                    <li {% if tab == 'topic' %}class="active"{% endif %}><a href="{{ path('user_topics', {'username': user.username}) }}">话题</a></li>
                    <li {% if tab == 'reply' %}class="active"{% endif %}><a href="{{ path('user_replies', {'username': user.username}) }}">回复</a></li>
                    <li {% if tab == 'following' %}class="active"{% endif %}><a href="{{ path('user_following', {'username': user.username}) }}">关注</a></li>
                    <li {% if tab == 'follower' %}class="active"{% endif %}><a href="{{ path('user_followers', {'username': user.username}) }}">粉丝</a></li>
                </ul>
                <div class="entry-meta hidden">
                    {% block entry_meta %}
                        <span>还没有发表过内容</span>
                    {% endblock %}
                </div>
                {% block user_content %}
                    <div class="panel-content">
                        没有记录
                    </div>
                {% endblock %}
            </div>
        </article>
        {% set appellation = isMe ? '我' : (user.isWomen ? '她' : '他')%}
        <div class="col-md-3">
            <div class="panel panel-widget">
                <div class="panel-heading">{{ appellation }}的专栏</div>
                <div class="panel-body">{{ render(controller('PHPDishPostBundle:Category:userCategories', {'user': user})) }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}