{% extends 'PHPDishWebBundle::layout.html.twig' %}


{% block title %} {{ thread.name }} {% endblock %}

{% block content %}
    <div class="container" role="main">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default panel-u">
                    <div class="panel-heading">
                        {% include 'PHPDishWebBundle:Common:crumbs.html.twig' with {breadcrumbs: [
                             {title: '话题', url: path('topic')},
                             {title: thread.name}
                        ]} %}
                    </div>
                    <div class="panel-body topics">
                        {% for topic in topics %}
                            <div class="media topic">
                                <div class="media-left">
                                    <a href="{{ path('user_view', {'username': topic.user.username}) }}">
                                        <img src="{{ topic.user.avatar() }}" class="media-object avatar" role="avatar">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="title">
                                        <a href="{{ path('topic_view', {'id': topic.id}) }}">{{ topic.title }}</a>
                                        {% if topic.recommended %}
                                            <i class="if i-sticky"></i>
                                        {% endif %}
                                    </div>
                                    <ul class="list-unstyled list-inline summary">
                                        <li>{{ topic.user.username }} 发起于 {{ topic.createdAt|date('Y-m-d') }}</li>
                                        <li><a href="{{ path('thread_view', {'slug': topic.thread.slug}) }}">{{ topic.thread.name }}</a></li>
                                        <li>最后回复：{{ topic.repliedAt|date('Y-m-d') }}</li>
                                    </ul>
                                </div>
                            </div>
                            {% if loop.last == false %}
                                <hr class="margin-vertical-10"/>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if topics.haveToPaginate %}
                        <div class="panel-footer">
                            {{ pagerfanta(topics, 'twitter_bootstrap3') }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <aside class="panel panel-default panel-widget">
                    <div class="panel-heading">最新话题</div>
                    {{ render(controller('PHPDishForumBundle:Topic:todayHotTopics')) }}
                </aside>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.threadId = '{{ thread.id }}';
    </script>
{% endblock %}