{% extends 'PHPDishWebBundle::layout.html.twig' %}


{% block title %} {{ thread.name }} {% endblock %}

{% block content %}
    <div id="main" class="container" role="main">
        <div class="row">
            <article id="content" class="col-lg-8 col-md-8 archive topic-show">
                <header class="entry-header">
                    <div class="entry-location">
                        {% include 'PHPDishWebBundle:Common:crumbs.html.twig' with {breadcrumbs: [
                            {title: thread.name}
                        ]} %}
                    </div>
                </header>
                <div class="entry-content">
                    {% for topic in topics %}
                    <div class="question-list">
                        <dl class="dl-horizontal">
                            <dt><img src="{{ topic.user.avatar() }}" data-role="user-avatar"></dt>
                            <dd>
                                <p>
                                    <a href="{{ path('topic_view', {'id': topic.id}) }}">{{ topic.title }}</a>
                                    {% if topic.isRecommended %}
                                    <i class="color-blue fa fa-thumbs-o-up"></i>
                                    {% endif %}
                                </p>
                                <ul class="list-unstyled list-inline small">
                                    <li class="text-muted">{{ topic.user.username }}发起于{{ topic.createdAt|date('Y-m-d H:i') }}</li>
                                    <li class="text-muted">{{ topic.replyCount }}回复</li>
                                    <li class="text-muted">最后回复：{{ topic.repliedAt|date('Y-m-d H:i') }}</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    {% endfor %}
                </div>
                <footer class="entry-footer">
                    <div id="pagination">{{ pagerfanta(topics, 'twitter_bootstrap3') }} </div>
                    <div class="content-wrap">
                        <form id="add-question-form">
                            <div class="headline headline-md"><h3>发帖</h3></div>
                            <input type="text" class="form-control" name="title" placeholder="标题">
                            <div class="margin-bottom-20"></div>
                            <textarea class="form-control" id="content-textarea" name="content" rows="10"></textarea>
                            <div class="margin-bottom-20"></div>
                            <button type="submit" class="btn btn-primary">发布</button>
                        </form>
                    </div>
                </footer>
            </article>
            <div id="sidebar" class="col-lg-4 col-md-4" role="complementary">
                <aside class="widget clearfix widget_recent_entries">
                    <h3 class="widget-title">最新话题</h3>
                    {{ render(controller('PHPDishForumBundle:Topic:todayHotTopics')) }}
                </aside>
            </div>
            <!-- #sidebar -->
        </div>
    </div>
    <script type="text/javascript">
        window.threadId = '{{ thread.id }}';
    </script>
{% endblock %}