{# 此模板暂时不用 #}
{% extends 'PHPDishWebBundle:Common:notification_layout.html.twig' %}

{% block title %} {{ 'chat.send_message'|trans }} {% endblock %}

{% block notification_content %}
    <div class="panel panel-u">
        <div class="panel-heading">{{ 'chat.send_message'|trans }}</div>
        <div class="panel-body">
            <form action="{{ url('fos_message_thread_new') }}" method="post">
                <div class="form-group">
                    {{ form_widget(form.recipient, {'attr': {'class': 'form-control', 'placeholder': 'chat.form.subject'|trans}}) }}
                    {{ form_errors(form.recipient) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.subject, {'attr': {'class': 'form-control', 'placeholder': 'chat.form.subject'|trans}}) }}
                    {{ form_errors(form.subject) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.body, {'attr': {'class': 'form-control', 'placeholder': 'chat.form.body'|trans}}) }}
                    {{ form_errors(form.body) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn u-btn-primary submit-btn"><i class="if i-publish"></i> {{ 'chat.form.publish'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
