{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %} {{ 'notification.my_notification'|trans }}{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ asset('build/js/notification.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container" role="main">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <ul class="list-group vertical-menu notification-nav">
                    <li class="list-group-item {% if is_route_matched('chat_inbox') %}active{% endif %}">
                        <a href="{{ path('chat_inbox') }}">
                            <i class="if i-envelope-o"></i> {{ 'chat.inbox'|trans }}
                            {% if fos_message_nb_unread() > 0 %}
                                <span class="badge badge-warning">{{ fos_message_nb_unread() }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="list-group-item {% if is_route_matched('chat_sent') %}active{% endif %}">
                        <a href="{{ path('chat_sent') }}"> <i class="if i-sent"></i> {{ 'chat.sent'|trans }}</a>
                    </li>
                    <li class="list-group-item {% if is_route_matched('notifications') %}active{% endif %}">
                        <a href="{{ path('notifications') }}">
                            <i class="if i-bell-o"></i> {{ 'notification.notification'|trans }}
                            {% set count = notification_unseen_count(app.user) %}
                            {% if count > 0 %}
                                <span class="badge badge-warning">{{ count }}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-9">
                {% block notification_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}