{% for topic in topics %}
    <div class="media topic">
        <div class="media-left">
            <a href="{{ path('user_view', {'username': topic.user.username}) }}">
                <img src="{{ topic.user.avatar() }}" class="media-object avatar" role="avatar">
            </a>
        </div>
        <div class="media-body">
            <div class="media-heading title">
                <a href="{{ path('topic_view', {'id': topic.id}) }}">{{ topic.title }}</a>
                {% if topic.recommended %}
                    <i class="if i-sticky"></i>
                {% endif %}
            </div>
            <ul class="list-unstyled list-inline meta">
                <li>{{ topic.user.username }} 发起于 {{ topic.createdAt|date('Y-m-d') }}</li>
                <li><a href="{{ path('thread_view', {'slug': topic.thread.slug}) }}">{{ topic.thread.name }}</a></li>
                <li>最后回复：{{ topic.repliedAt|date('Y-m-d') }}</li>
            </ul>
        </div>
    </div>
    {% if loop.last == false %}
        <hr class="margin-vertical-10"/>
    {% endif %}
{% endfor %}