{% extends 'PHPDishWebBundle:User:view_common.html.twig' %}

{% set tab = 'book' %}
{% set isMe = app.user is same as (user) %}

{% if books|length %}
    {% block entry_meta %}
        <span>共发表了{{ books|length }}本书</span>
    {% endblock %}
{% endif %}

{% block user_content %}
    {% if books|length %}
        <ul class="book-list list-inline">
        {% for book in books %}
            {% set bookViewUrl = path('book_view', {'slug': book.slug}) %}
            <li>
                <div class="book">
                    <div class="cover">
                        <a href="{{ bookViewUrl }}">
                            <img src="{{ asset(book.cover|default('user.jpg'))|imagine_filter('middle_rectangle') }}" class="media-object"/>
                        </a>
                    </div>
                    <div class="details">
                        <a href="{{ bookViewUrl }}">
                            <h4 class="title">
                               {{ book.name }}
                            </h4>
                        </a>
                        {% if is_granted('edit', book) %}
                            <div class="edit"><a href="{{ path('book_edit', {'slug': book.slug}) }}" title="编辑"><i class="if i-edit"></i></a></div>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
        {% if isMe and books|length < 5 %}
            <li>
                <div class="add-book">
                    <a title="写书" href="{{ path('book_add') }}"><i class="if i-plus-bold"></i></a>
                </div>
            </li>
        {% endif %}
        </ul>
    {% else %}
            <div class="empty-data">
                <p>
                    {% if isMe %}
                    <i class="if i-post-o"></i> 还没有电子书
                    现在去 <a href="{{ path('book_add') }}">创建电子书</a>
                    {% else %}
                        <i class="if i-post-o"></i> 还没有电子书
                    {% endif %}
                </p>
            </div>
    {% endif %}
{% endblock %}