{% extends 'PHPDishWebBundle:User:view_common.html.twig' %}

{% set tab = 'book' %}

{% if books|length %}
    {% block entry_meta %}
        <span>共发表了{{ books|length }}本书</span>
    {% endblock %}
{% endif %}

{% block user_content %}
    {% if books|length %}
        <ul class="list-group book-list">
        {% for book in books %}
            {% set bookViewUrl = path('book_view', {'slug': book.slug}) %}
            <li class="list-group-item">
                <article class="media book clearfix" role="article">
                    <div class="media-left media-middle cover">
                        <a href="{{ bookViewUrl }}">
                            <img src="{{ asset(book.cover|default('user.jpg'))|imagine_filter('middle_square') }}" class="media-object"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="{{ bookViewUrl }}">{{ book.name }}</a>
                        </h4>
                        <p class="summary">{{ book.description }}</p>
                        <ul class="list-unstyled list-inline meta" data-role="post-action">
                            <li>订阅 {{ book.followerCount|default(0) }}</li>
                            {% if is_granted('edit', book) %}
                            <li><a href="/post/5/edit" title="编辑"><i class="if i-edit"></i> 编辑</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </article>
            </li>
        {% endfor %}
        </ul>
    {% else %}
            <div class="empty-data">
                <p><i class="if i-post-o"></i> 还没有书籍</p>
            </div>
    {% endif %}
{% endblock %}