{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %} {{ category is defined ? '修改' : '创建'}}{{ isBook ? '书籍' : '专栏'}} {% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ asset('build/js/category.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container narrow-layout" role="main">
        <div class="row">
            <article class="col-md-12">
                <div class="panel panel-u add-category">
                    <div class="panel-heading">{{ category is defined ? '修改' : '创建'}}{{ isBook ? '书籍' : '专栏'}}</div>
                    {% from 'PHPDishWebBundle:Macros:notification.html.twig' import flashes %}
                    <div class="panel-body">
                        {{ flashes() }}
                        {{ form_start(form, {'attr': {'id': 'add-category-form', 'class': 'category'}}) }}
                        {{ form_errors(form) }}
                            <div class="form-group">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name, {'attr': {'class': 'form-control name', placeholder: '请填写名称'}}) }}
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control description', placeholder: '介绍'}}) }}
                                {{ form_errors(form.description) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.slug) }}

                                {% if isBook %}
                                    {{ url('book_view', {'slug': 'slug'})|raw }}
                                {% else %}
                                    {{ url('category_view', {'slug': 'slug'})|raw }}
                                {% endif %}
                                {{ form_widget(form.slug, {'attr': {'class': 'form-control slug', placeholder: '访问域名'}}) }}
                                {{ form_errors(form.slug) }}
                            </div>
                            <div class="form-group upload-cover clearfix {% if category is defined and category.cover %}uploaded{% endif %}" id="upload-cover">
                                <div id="pick-image" class="upload-camera-icon"><i class="if i-camera"></i></div>
                                <div class="preview-image">
                                    <img data-role="preview" class="img-responsive" src="{% if category is defined and category.cover %}{{ category.cover|media_url_build }}{% endif %}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" {% if hasManyCategories %}disabled="disabled"{% endif %} class="btn u-btn-primary">
                                    {% if category is defined %}修改{% else %}<i class="if i-plus-bold"></i> 创建{% endif %}
                                </button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </article>
        </div>
    </div>

{% endblock %}