{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %} 创建专栏 {% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ asset('build/js/category.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container narrow-layout" role="main">
        <div class="row">
            <article class="col-md-12">
                <div class="panel panel-u add-category">
                    <div class="panel-heading">创建专栏</div>
                    <div class="panel-body">
                        {{ form_start(form, {'attr': {'id': 'add-category-form', 'class': 'category'}}) }}
                        {{ form_errors(form) }}
                            <div class="form-group">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name, {'attr': {'class': 'form-control name', placeholder: '请填写专栏名称'}}) }}
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control description', placeholder: '专栏介绍'}}) }}
                                {{ form_errors(form.description) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.slug) }} {{ url('category_view', {'slug': 'domain'})|raw }}
                                {{ form_widget(form.slug, {'attr': {'class': 'form-control slug', placeholder: '访问域名'}}) }}
                                {{ form_errors(form.slug) }}
                            </div>
                            <div class="form-group upload-cover clearfix" id="upload-cover">
                                <div id="pick-image" class="upload-camera-icon"><i class="if i-camera"></i></div>
                                <div class="preview-image"><img data-role="preview" class="img-responsive" src=""/></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn u-btn-primary"><i class="if i-plus-bold"></i> 创建</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </article>
        </div>
    </div>

{% endblock %}