<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <meta http-equiv="Cache-Control" content="no-transform ">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>{% block title %} {% endblock %} - PHPDish</title>
        {% block keywords %}<meta name="keywords" content="phpdish"/>{% endblock %}
        {% block description %}<meta name="description" content="phpdish"/>{% endblock %}
        <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
        <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="//at.alicdn.com/t/font_382846_x172pfp6axkihpvi.css"  rel="stylesheet">
        <link href="{{ asset('build/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('build/common.css') }}" rel="stylesheet">
        {% block css %}{% endblock %}
    </head>
    <body>
        <header id="masthead">
            <div class="container header-content">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="custom-header clearfix">
                            <div class="header-logo">
                                <a href="/" rel="home">
                                    <img src="{{ asset('/img/logo-p4.png') }}" class="img-responsive"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 hidden-xs">
                        <div class="clearfix" style="letter-spacing:1px;margin:38px 15px 10px;">
                            <form class="input-group" role="search" method="get" id="searchform" action="{{ path('search') }}">
                                <span class="input-group-addon">搜索</span>
                                <input type="text" class="form-control" placeholder="请输入检索关键词…" name="q" id="s" required>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default" id="searchsubmit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-default navbar-static-top" role="banner" data-role="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-navbar-collapse">
                            <span class="sr-only">切换菜单</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <nav id="navbar" class="collapse navbar-collapse header-navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="menu-item">
                                <a href="/">首页</a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ path('topic') }}">社区</a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ path('topic') }}">问答</a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ path('topic') }}">招聘</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="menu-item">
                                <a href="">
                                    <span class="glyphicon glyphicon-gift"></span> 积分换礼
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ path('about') }}">关于本站</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- #navbar -->
                </div>
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <footer id="colophon" class="container" role="contentinfo">
            <div class="panel panel-default text-muted">
                <div class="panel-body">{{ render(controller('PHPDishCoreBundle:FriendLink:list', {'limit': 5})) }}</div>
                <div class="panel-footer clearfix">
                    <p>2014 © Qimuyu. All Rights Reserved.&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">皖ICP备14022941号</a> <a target="_blank" rel="nofollow" href="http://www.qimuyu.com/privacy.html">隐私政策</a> | <a target="_blank" rel="nofollow" href="http://www.qimuyu.com/terms.html">服务条款</a></p>
                    <span class="pull-right copyright"></span>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdn.bootcss.com/lodash.js/4.17.2/lodash.min.js"></script>
        <script type="text/javascript" src="{{ asset('build/manifest.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/common.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>